*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
   
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}
/*background image style */
.img-container{
    width: auto;
    height: 100vh;
    background: url("../Images/Group\ 190.png") no-repeat center/cover;
}
.content{
    font-size: 1.5rem;
}
div > h2{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 52%;
}
 
/*LHS element styles starts */
 #aphrodite{
    width: 30%;
    height: 20%;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  
}


h3{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 1.3rem;
    font-weight: lighter;
}
h2 span{
   
    color:#ff0000ec;
}
h3 a{
    margin-left: 0.5rem;
    font-weight: bold;
    color:#ff0000ec;
    text-decoration: none;
}
/* RHS element styles starts here */
.sign-up-form{
    color: black;
    font-size: 1.2rem;
    background-color: white;
}
.flex-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-left{
    padding: 0;
    font-size: 1.5rem;
    margin-left: 4.5rem;
    font-weight: bold;
}
#sign-in{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 7rem;
    color:#ff0000;    
}

/* form input syles start here */
.input-forms{
 margin-left: 2rem; 
  
}
.forms{
    margin-left: 6%;
    margin-top: 5%;
}
label{
    color:#665b5b ;
    font-weight: normal; 
    
}
input[type=text],
input[type=password],
input[type=email],
input[type=submit]
{
    background-color: #EDEDED;
    width: 80%;
    padding: 0.5rem;
    margin: 0 0 1.2rem 0 ;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.5rem;
}
#form-span{
    font-size: 1rem;
}

input[type=submit]{
    font-size: 1.2rem;
    border-radius: 0.2rem;
    color: black;
    background-color: #ff0000ec;
    width: 82%;
    margin-top: 0.8rem;
}
h4{
    font-size: 0.8rem;
    font-weight: 300;
}
 p{
     font-size: 1.1rem;
    color:#665b5b;
    text-align: center; 
    margin-right: 2rem;
    margin-top: 0.3rem; 

   
}
p a{ 
   
    color:#ff0000ec
}